@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
    ;
}

html {
    background-color: #212121
}

header {
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: -103px;
    color: #BB0018;
    text-align: center;
    text-shadow: 3px 3px 3px #72726f;
    font-size: 3em;
    padding-bottom: 20px;
}

.borda {
    margin-top: 23px;
    display: flex;
    border-bottom: 1px solid #777;
}

#logo img {

    background-position: center left;
    width: 200px;
    height: 200px;
    color: crimson;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    text-shadow: 1px 1px 1px #ffffff;
    line-height: 60px;
}

.menu {
    position: absolute;
    top: -60px;
    right: 0;
    flex: 1;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
}

.menu ul li {
    min-width: 100px;
    line-height: 30px;
    display: inline;
    list-style: none;
}

.menu ul li a {
    color: azure;
    font-weight: 500px;
    text-decoration: none;
    padding: 20px 40px;
    display: inline-block;
    text-align: right;
    padding-top: 95px;

}

.menu li a:hover {
    background-color: #BB0018;
    height: 100%;
}
html{
    background-color: #212121;
}
main{
    height: 1080px;
    width: 100%;}
    body{
        min-height: 100%;
        display: contents;
    }

#apresentacao {
    width: 90%;
    display: block;
    margin: 50px auto;
    max-width: 1500px;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}

.carro {
    width: 30%;
    float: left;
    background-color: gray;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
    margin: auto;
    margin-top: 50px;
}

.carro img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    position: top center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 15px;
}

.carro h2 {
    text-align: center;
    margin-bottom: 0;
}

.carro p {
    text-align: center;
    padding: 5%;
    margin-top: 1%;
    color: #000;
    font-size: 90%;
}

.carro a {
    display: block;
    text-align: center;
    background-color: #ff0018;
    color: azure;
    padding: 3%;
    text-decoration: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.carro a:hover {
    background-color: rgb(100, 0, 78);
}

.direita {
    float: right;
    margin-left: 5%;
}

.centro {
    margin-left: 5%;

}
